* {
    font-family: 'Lobster', cursive;
    font-weight: 100;
}

body {
    background: radial-gradient(circle, #fff, #bbb);
    padding: 15px;
}

.grid-container {
    display: grid;
    background: #333;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 3px solid #000;
    justify-items: center;
    align-items: center;
    height: 600px;
}

.grid-item {
    border: 1px solid #000;
    background: #999;
    font-size: 30px;
    padding: 50px;
}

.grid-item:first-child {
    place-self: start;
    background: red;
}


.grid-item:nth-child(6) {
    justify-self: start;
}

.grid-item:nth-child(4) {
    justify-self: end;
}

.grid-item:nth-child(5) {
    background: lightgreen;
}

.grid-item:nth-child(7) {
    place-self: end start;
    background: red;
}

.grid-item:nth-child(3) {
   place-self: start end;
    background: red;
}

.grid-item:last-child {
    place-self: end;
    background: red;
}